html, 
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header > nav > .navbar-horizontal-display-layout {
    padding-right: 0.5rem;
}

header > .nav-logo > .website-icon {
    font-size: 1.4rem;
}

header > .nav-logo > h1 {
    font-size: 1.3rem;
    font-weight: 900;
    color: #333;
}

header nav {
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
}


.navbar-horizontal-display-layout{
    /* DON'T DELETE THIS CODE THAT IS BELOW */
    /* add the below styling when I'm displaying the navbar horizontally */
    /* list-style: none;
    display: none;
    gap: 0.5em;
    font-size: 1em;
    margin: 0;
    padding: 0; */

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.navbar-horizontal-display-layout li {
    display: none;
    margin: 0;
    padding: 0;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 0.75rem;
}

header {
    display: flex;
    padding: 0 0 0 0.5rem;
    height: 3.3rem;
    /* gap: 1.7rem; */
    justify-content: space-between;
    align-items: center;
    /* the header disappears without adding the bottom width because before we were just relying on the display: block property */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    z-index: 10;
    overflow: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin: 0;
    padding: 0;
}

footer {
    color: white;
    background-color: #202020;
    width: 100vw;
    height: 6.5rem;
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
    font-size: 0.75rem;
}

.footer-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

main {
    margin: 0;
    padding: 0;
    margin-top: 3.3rem;
}

.blogs-available {
    /* display: flex; */
    /* justify-items: center; */
    /* flex-direction: column; */
    display: grid;
    /* grid-template-columns: 10vw 80vw 10vw;  */
    grid-template-rows: 30vh auto auto auto auto auto auto auto;
    /* grid-auto-rows: 35vh; */
    grid-template-areas: 
        "mimg"
        "simg"
        "simg2"
        "simg3"
        "simg4"
        "simg5"
        "simg6"
        "simg7"
        ;
    /* height: 20vh; */
    /* max-height: 80vh; */
    /* overflow: hidden; */
    /* width: 100vw; */
    margin: 0;
    padding: 0;
}

.large-img-blog-container {
    /* height: 30vh;
    width: 100vw; */
    /* grid-column: span 3; */
    /* display: grid; */
    grid-area: mimg;
    position: relative;
}

/* .imageAndTextoverlay {
    
} */

time, h2, p {
    margin: 0;
}

.small-img-blog-holder {
    grid-area: simg;
}

.small-img-blog-holder, .small-img-blog-holder-2, .small-img-blog-holder-3, .small-img-blog-holder-4, .small-img-blog-holder-5, .small-img-blog-holder-6, .small-img-blog-holder-7{
    padding: 2em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.small-blog-summary {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.blog-upload-time-small {
    font-size: 0.85rem;
    color: gray;
}

.blog-description {
    font-size: 0.85rem;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    padding: 0;
    margin: 0;
}

.small-img-blog-holder-2 {
    grid-area: simg2;
}
.small-img-blog-holder-3 {
    grid-area: simg3;
}
.small-img-blog-holder-4 {
    grid-area: simg4;
}
.small-img-blog-holder-5 {
    grid-area: simg5;
}
.small-img-blog-holder-6 {
    grid-area: simg6;
}
.small-img-blog-holder-7 {
    grid-area: simg7;
}

.small-img-blog-holder-4, .small-img-blog-holder-5, .small-img-blog-holder-6, .small-img-blog-holder-7 {
    display: none;
}

.makeElementVisible {
    display: flex;
}

/* blog that'll be in the hero */

.large-img {
    /* width: 100%;
    height: 100%; */
    height: 30vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    filter: brightness(30%); /* Add this line */
}

.large-blog-summary {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    top: 5rem;
    left: 1rem;
    padding: 1rem;
    z-index: 3;
}

/* styling that applies to all blogs */
.blog-title{
    font-size: 1.75rem;
    font-weight: 900;
}

.blog-upload-time {
    font-size: 0.85rem;
    color: lightgray;
}

.blog-description-hero {
    font-size: 0.85rem;
    color: lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.small-img-1, .small-img-2, .small-img-3, .small-img-4, .small-img-5, .small-img-6, .small-img-7 {
    /* width: 100%;
    height: 100%; */
    height: 30vh;
    width: 92vw;
    background-color: blue;
}

.load-more-blogs-btn{
    grid-area: ldbtn; 
    /* background-color: #202020;
    color: white; */
    border: none;
    background: none;
    text-decoration: underline;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 0.75em;
    font-weight: 900;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.footer-text p {
    margin: 0;
}

@media (min-width: 425px) {
    /* .large-img{
        height: 20vh;
    } */
}

@media (min-width: 555px) and (max-width: 900px) {
    .blogs-available {
        /* display: flex; */
        /* justify-items: center; */
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40vw, 50vw));
        grid-template-rows: 35vh auto auto auto;
        /* grid-auto-rows: 35vh; */
        grid-template-areas: 
            "mimg mimg "
            "simg simg2"
            "simg3 simg4"
            "simg5 simg6"
            ;
        margin: 0;
        padding: 0;
    }

    .small-img-blog-holder-4, .small-img-blog-holder-5, .small-img-blog-holder-6 {
        display: flex;
    }

    .large-img {
        height: 35vh;
    }
    
    .large-blog-summary {
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        position: absolute;
        left: 1rem;
        padding: 1rem;
        z-index: 3;
        top: 10rem; /* Add this line */
    
    }

    .small-img-1, .small-img-2, .small-img-3, .small-img-4, .small-img-5, .small-img-6 {
        /* width: 100%;
        height: 100%; */
        height: 20vh;
        width: 100%;
        background-color: blue;
    }
}

@media (min-width: 655px) {
    .large-img{
        height: 40vh;
    }
    .blogs-available {
        grid-template-rows: 40vh auto auto auto;
    }
}

@media (min-width: 768px) {
    .navbar-horizontal-display-layout{
        /* DON'T DELETE THIS CODE THAT IS BELOW */
        /* add the below styling when I'm displaying the navbar horizontally */
        list-style: none;
        display: flex;
        gap: 0.5em;
        font-size: 1.2rem;
        /* margin: 0; */
        padding: 0;
    }

    .navbar-horizontal-display-layout li  a{
      font-size: 1.5rem;
    }
    
    .navbar-horizontal-display-layout li {
        display: block;
        margin: 0;
        padding: 0;
    }

    .navbar-horizontal-display-layout i {
        display: none;
    }
}

@media (min-width: 900px) {
    .blogs-available {
        /* display: flex; */
        /* justify-items: center; */
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: 2vw auto auto auto 2vw ;
        grid-template-rows: 50vh auto auto;
        /* grid-auto-rows: 35vh; */
        grid-template-areas: 
            "mimg mimg mimg mimg mimg"
            ". simg simg2 simg3 ."
            ". simg4 simg5 simg6 ."
            ;
        margin: 0;
        padding: 0;
    }

    .small-img-blog-holder-4, .small-img-blog-holder-5, .small-img-blog-holder-6 {
        display: flex;
    }

    .large-img {
        height: 50vh;
    }
    
    .large-blog-summary {
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        position: absolute;
        left: 1rem;
        padding: 1rem;
        z-index: 3;
        top: 10rem; /* Add this line */
    
    }

    .small-img-1, .small-img-2, .small-img-3, .small-img-4, .small-img-5, .small-img-6 {
        /* width: 100%;
        height: 100%; */
        height: 20vh;
        width: 100%;
        background-color: blue;
    }
}

@media (min-width: 1050px) {
    .large-img {
        height: 50vh;
    }

    .blogs-available {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 50vh auto auto;
        grid-template-areas: 
            "mimg mimg mimg mimg"
            "simg simg2 simg3 simg4"
            "simg5 simg6 . ."
            ;
        margin: 0;
        padding: 0;
    }

    /* .small-img-blog-holder-5, .small-img-blog-holder-6 {
        display: none;
    } */

    .blog-description-hero {
        width: 40vw;
    }

    .large-blog-summary {
        top: 15rem;
    }
}

@media (min-width: 1250px) {
    .large-img {
        height: 60vh;
    }

    .blogs-available {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: 60vh auto auto;
        grid-template-areas: 
            "mimg mimg mimg mimg mimg"
            "simg simg2 simg3 simg4 simg5"
            "simg6 . . . ."
            ;
        margin: 0;
        padding: 0;
    }
    .large-blog-summary {
        top: 25rem;
    }
    header {
        height: 4.5rem;
    }
}
@media (min-width: 2560px) {
    .large-img {
        height: 50vh;
    }

    header {
        height: 5.5rem;
    }
    header h1 {
        font-size: 1.5rem;
    }

    header nav ul li {
        font-size: 1.5rem;
    }

    header .nav-logo i {
        font-size: 2rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .large-blog-summary {
        top: 43rem;
    }
    .blogs-available {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: 50vh repeat(2,25vh);
        grid-template-areas: 
            "mimg mimg mimg mimg mimg"
            "simg simg2 simg3 simg4 simg5"
            "simg6 . . . ."
            ;
        margin: 0;
        padding: 0;
    }
   .large-img-blog-container h2 {
        font-size: 3rem;
    }
   
    .blogs-available h2:not(.large-img-blog-container h2){
        font-size: 2.2rem;
    }
}